.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.col s4 .card {
  min-height: 410px;
  /* translate: translateY(var(--translate-y,0)) */   
}

.card .card-image {
  max-height: 210px
}

.card .card-content {
  margin-top: 3.5rem
}

.card:hover {
  /*  --translate-y: -2px;   Create bounce affect */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5)
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
